@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bolder;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  border: none;
}

.button-red {
  color: #fcfcfc;
  outline: 4px solid #ff2f644d;
  background-color: #ff2f64;
  /* box-shadow: 0 0 0 4px #feafc3; */
  /* border: 4px solid #feafc3; */
}

.button-red:hover {
  background-color: #fcfcfc4d;
  outline: 4px solid #ff2f64;
  color: #2d3440;
}

.button-red:focus {
  outline: 2px solid #2d3440;
  outline-offset: 0;
}

.button-red:disabled {
  color: #565c66;
  font-weight: 400;
  background-color: #b9b9b9;
  outline: 4px solid #b9b9b94d;
}

.button-white {
  color: #2d3440;
  background-color: #fcfcfc;
  outline: 4px solid #fcfcfc66;
}

.button-white:hover {
  background-color: #fcfcfc66;
  outline: 4px solid #fcfcfc;
  color: #2d3440;
}

.button-white:focus {
  outline: 2px solid #2d3440;
}

.button-white:disabled {
  font-weight: 400;
  background-color: #e7e7e7;
  color: #b9b9b9;
  outline: 4px solid #fcfcfc66;
}

.filter-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  background-color: #fcfcfc4d;
  border-radius: 20px;
  padding: 8px 53px;
  outline: 2px solid #fcfcfc;
  align-self: center;
  cursor: pointer;
  border: none;
}

.filter-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid #fcfcfc4d;
}

.filter-button:focus {
  background-color: #fcfcfc4d;
  outline-color: #2d3440;
}

.filter-button:disabled {
  background-color: #fcfcfc4d;
  outline: 2px solid #fcfcfc;
}

.navigation-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  text-transform: none;
  padding: 8px 16px;
  border-radius: 26px;
}

.navigation-link:hover {
  background-color: #fcfcfc80;
}

.navigation-link:focus {
  background-color: #fcfcfc80;
  outline: 2px solid #2d3440;
  border: none;
}

.navigation-link:active {
  background-color: #fcfcfc;
  outline: 0;
}

.active-link {
  padding: 8px 16px;
  background-color: #ff4a78;
  border-radius: 26px;
  color: #fcfcfc;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-item {
  list-style-type: none;
  margin-left: 18px;
}

.navigation-item:first-child {
  margin-left: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 630px;
  margin: 0;
  padding: 0;
}

.navigation-list-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 500px;
}

.navigation-user-item {
  list-style-type: none;
  margin-left: 16px;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  display: flex;
  flex-direction: column;
}

.header-phone {
  display: block;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  text-transform: none;
  margin-right: 18px;
}

.navigation-user-link {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 6px 17px 6px 40px;
  border-radius: 26px;
  background-color: #fcfcfc4d;
}

.navigation-user-link:hover {
  background-color: #fcfcfc80;
}

.navigation-user-link:focus {
  background-color: #fcfcfc80;
  outline: 2px solid #2d3440;
  outline-offset: 0;
}

.navigation-user-link:active {
  background-color: #fcfcfc;
  outline: 0;
}

.navigation-search-icon {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 8px;
}

.navigation-search-link {
  padding: 16px;
}

.navigation-login-icon {
  position: absolute;
  left: 18px;
  bottom: 8px;
}

.navigation-bucket-icon {
  position: absolute;
  left: 17px;
  bottom: 8px;
}

.slider-container {
  display: grid;
  grid-template-columns: 560px 1fr;
  position: relative;
  min-height: 554px;
  margin-bottom: 80px;
}

.slider-description-container {
  position: relative;
  padding: 136px 20px 12px 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-slider-header {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 24px;
}

.main-slider-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 48px;
}

.slider-main {
  position: relative;
  background-color: #ffcbd8;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  align-self: center;
  justify-self: start;
}

.slider-main:nth-of-type(3) {
  transform: scale(30%);
  position: absolute;
  right: 30px;
  opacity: 40%;
}

.slider-main:nth-of-type(4) {
  transform: scale(30%);
  position: absolute;
  right: -110px;
  opacity: 40%;
}

.slider-product-photo {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button {
  position: absolute;
  box-sizing: border-box;
  background-color: #fcfcfc4d;
  padding: 0;
  border: none;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  bottom: 50%;
  border: 2px solid #fcfcfc;
  z-index: 1;
}

.slider-button:disabled {
  opacity: 30%;
}

.slider-button:hover {
  background-color: #fcfcfc;
}

.slider-button:hover .slider-icon {
  fill: #2d3440;
}

.slider-button:focus {
  background-color: #fcfcfc4d;
  border-color: #2d3440;
}

.slider-icon {
  fill: #fcfcfc;
}

.slider-arrow-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-4px);
}

.slider-arrow-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-2px);
}

.slider-pagination {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
}

.slider-pagination-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  outline: 1px solid #fcfcfc66;
  margin-right: 8px;
  background-color: #fcfcfc66;
  border: none;
}

.slider-pagination-button:hover {
  outline: 1px solid #fcfcfc;
}

.slider-pagination-button:focus {
  outline: 1px solid #2d3440;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
  outline: 1px solid #fcfcfc;
}

.slider-button-prev {
  transform: translate(-50%, 50%);
}

.slider-button-next {
  right: 0;
  transform: translate(50%, 50%);
}

.slider-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-social-item {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  width: 28px;
}

.slider-social-link {
  box-sizing: border-box;
  display: block;
  height: 28px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  background-size: 24px 24px;
  border: 2px solid #fcfcfc33;
}

.slider-social-link:hover {
  background-color: #2d3440;
}

.slider-social-link:active {
  background-color: #2d3440;
  border: 2px solid #2d3440;
}

.slider-vk {
  background-image: url("../Image/icons/vk.svg");
}

.slider-fb {
  background-image: url("../Image/icons/fb.svg");
}

.slider-instagram {
  background-image: url("../Image/icons/instagram.svg");
}

.slider-socials {
  position: absolute;
  bottom: 0;
  right: 0;
}

.inner-catalog-item {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.inner-header {
  margin-top: 32px;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  list-style: none;
}

.breadcrumbs-link {
  display: block;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url("../Image/icons/doublebracket.svg");
  position: absolute;
  right: -19px;
  top: -2px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  width: 820px;
  justify-content: space-between;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  text-decoration: none;
}

.sort {
  display: block;
}

.label-sort {
  display: block;
}

.filter-category {
  border: none;
}

.popular-header,
.features-header,
.delivery-header,
.donates-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.donates {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.donates-header {
  margin: 0 auto 56px auto;
  margin-bottom: 56px;
  width: 440px;
  text-align: center;
}

.donates-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.donates-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 570px;
}

.donates-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.donates-description {
  width: 380px;
}

.donates-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 16px;
  padding: 40px;
}

.donates-raspberry {
  background-color: #ff7799;
  background-image: url("../Image/Backgrounds/raspberry-donates.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right 15px;
}

.donates-marshmellow {
  background-color: #ff7799;
  background-image: url("../Image/Backgrounds/marshmellow-donate.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right 7px;
}

.news {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: #eed5dc;
  background-image: url("../Image/Backgrounds/news.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 506px;
  padding: 32px;
  min-height: 156px;
}

.news-header {
  margin: 0;
  margin-bottom: 12px;
  color: #565c66;
  font-size: 16px;
  font-weight: 400;
}

.news-title {
  width: 305px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  margin: 0;
}

.news-subscribe-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.popular {
  margin-bottom: 80px;
}

.popular-header {
  width: 530px;
  margin: 0 auto 80px auto;
  text-align: center;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 91px 30px;
  padding: 0;
  margin: 51px 0 57px;
}

.inner-catalog-item-header {
  margin: 0 auto 0 0;
  line-height: 46px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcfcfc;
  border-radius: 16px;
  width: 270px;
  margin: 0;
  margin-top: 91px;
  list-style-type: none;
}

.catalog-filter {
  margin-bottom: 48px;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcfcfc;
  border-radius: 8px;
  width: 190px;
  margin: 0;
  list-style-type: none;
  padding: 40px 40px 28px 40px;
}

.product-item:hover img {
  transition: transform 0.2s ease;
  transform: scale(1.2) translatey(-10px);
}

.product-photo {
  margin-top: -91px;
  margin-bottom: 16px;
}

.product-photo-link {
}

.product-header-link {
  color: inherit;
  text-decoration: none;
}

.product-description-link {
  text-decoration: none;
}

.product-item-header {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-description {
  color: #565c66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.price-bucket-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.bucket-link {
  box-sizing: border-box;
  position: relative;
  background-color: #ff2f64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 2px solid #ff2f64;
}

.bucket-link:hover {
  background-color: #fcfcfc4d;
}

.bucket-link:hover .bucket-icon {
  fill: #2d3440;
}

.bucket-link:focus {
  border: 2px solid #2d3440;
  background-color: #ff2f64;
}

.bucket-icon {
  position: absolute;
  display: block;
  left: 22%;
  bottom: 24%;
  fill: #fcfcfc;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  color: #2d3440;
  line-height: 24px;
  margin: 0;
}

.features {
  display: flex;
  min-height: 480px;
  background-color: #fcfcfc;
  border-radius: 16px;
  background-image: url("../Image/Backgrounds/vaffle-background.png");
  background-repeat: no-repeat;
  margin-bottom: 80px;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fcfcfc;
  margin: 24px;
  border-radius: 16px;
  padding: 56px 40px;
}

.features-header {
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 30px;
}

.features-item:nth-child(1)::before {
  content: "";
  padding-right: 48px;
  width: 48px;
  height: 48px;
  background-image: url(../Image/icons/icecream.svg);
  background-repeat: no-repeat;
}

.features-item:nth-child(2)::before {
  content: "";
  padding-right: 48px;
  width: 48px;
  height: 48px;
  background-image: url(../Image/icons/cow.svg);
  background-repeat: no-repeat;
}

.features-item:nth-child(3)::before {
  content: "";
  padding-right: 48px;
  width: 48px;
  height: 48px;
  background-image: url(../Image/icons/green.svg);
  background-repeat: no-repeat;
}

.features-item:nth-child(4)::before {
  content: "";
  padding-right: 48px;
  width: 48px;
  height: 48px;
  background-image: url(../Image/icons/temperature.svg);
  background-repeat: no-repeat;
}

.features-item {
  display: flex;
  list-style-type: none;
  color: #565c66;
}

.subscribe {
  display: flex;
  background-color: #ccb6d7;
  border-radius: 16px;
  background-image: url("../Image/Backgrounds/Post.png");
  /* background-size: 570px 222px; */
  background-repeat: no-repeat;
  width: 570px;
  min-height: 220px;
}

.subscribe-description {
  color: #565c66;
  margin: 0 0 40px 0;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  margin: 6px;
  padding: 26px;
  border-radius: 16px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-input {
  width: 332px;
  height: 46px;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #b9b9b9;
}

.delivery-form-date,
.delivery-form-phone,
.delivery-form-address {
  font-weight: 700;
}

.delivery {
  display: flex;
  background-color: #dac9ba;
  border-radius: 16px;
  background-image: url("../Image/Backgrounds/delivery.png");
  background-repeat: no-repeat;
  margin-bottom: 80px;
  min-height: 534px;
}

.delivery-description-container {
  display: flex;
  flex-direction: column;
  margin-top: 167px;
  margin-left: 100px;
  width: 395px;
}

.delivery-description {
  color: #565c66;
}

.delivery-header {
  margin: 0;
  margin-bottom: 24px;
}

.delivery-form-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 420px;
  padding: 40px;
  margin: 64px 64px 64px auto;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 285px;
  grid-gap: 20px 16px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-description {
  margin: 0;
  color: #565c66;
  margin-bottom: 32px;
}

.delivery-container-address {
  grid-column: 1/-1;
}

.delivery-button {
  grid-row: 3/4;
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 32px;
}

.contacts {
  display: flex;
  min-height: 492px;
  background-color: #edc2b0;
  border-radius: 16px;
  background-image: url("../Image/Backgrounds/contacts.png");
  background-repeat: no-repeat;
}

.contacts-container {
  background-color: #fcfcfc;
  border-radius: 8px;
  margin: 64px auto 64px 64px;
  width: 343px;
  padding: 40px;
}

.contacts-adress-item {
  color: #565c66;
  width: 180px;
  margin: 0 0 12px 0;
}

.address-page {
  font-style: normal;
  margin: 0 auto 24px 0;
  width: 265px;
}

.contacts-phone-item {
  margin: 0 auto 12px 0;
  color: #565c66;
}

.contacts-phone-worktime {
  margin: 0 0 24px 0;
  color: #565c66;
  font-size: 14px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-address {
  font-weight: 400;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
  margin: 0 0 24px 0;
}

.pagination-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
  padding-bottom: 73px;
}

.pagination-container button {
  border-color: #ffcbd8;
  grid-column: 2/3;
  justify-self: center;
}

.pagination-list {
  justify-self: right;
  align-self: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  position: relative;
  display: block;
}

.pagination-item:not(:last-child) {
  margin-right: 4px;
}

.pagination-item:first-child {
  margin-right: 16px;
  opacity: 30%;
}

.pagination-item:last-child {
  margin-left: 12px;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #2d3440;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.arrow-left {
  fill: #2d3440;
  position: absolute;
  left: 9px;
  bottom: 6px;
}

.arrow-right {
  fill: #2d3440;
  position: absolute;
  left: 10px;
  bottom: 6px;
}

.pagination-link:hover:not(.pagination-link-current) {
  background-color: #fcfcfc4d;
}

.pagination-link:focus:not(.pagination-link-current) {
  outline: 1px solid #2d3440;
  outline-offset: 0;
}

.pagination-link-current {
  background-color: #fcfcfc;
}

.info-item-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.info-item-link-bold {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.info-item-link-bold::before {
  content: url(../Image/icons/heart.svg);
  position: absolute;
  left: -20px;
  top: 1px;
}

.copyright-text,
.copyright-text a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #2d3440;
}

.footer {
  display: flex;
  width: 1170px;
  margin: 48px auto 0;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 16px;
  width: 28px;
}

.footer-social-link {
  box-sizing: border-box;
  display: block;
  height: 28px;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
  background-size: 24px 24px;
  border: 2px solid #fcfcfc33;
}

.footer-social-link:hover {
  background-color: #2d3440;
}

.footer-social-link:active {
  background-color: #2d3440;
  border: 2px solid #2d3440;
}

.footer-vk {
  background-image: url("../Image/icons/vk.svg");
}

.footer-fb {
  background-image: url("../Image/icons/fb.svg");
}

.footer-instagram {
  background-image: url("../Image/icons/instagram.svg");
}

.footer-features {
}

.info-list {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
}

.info-item {
  width: 182px;
}

.copyright {
  display: flex;
  flex-direction: column;
}
