@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: bolder;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
  width: 1366px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.button {
  font-family: "Inter"
  font-weight: bold;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
  border: none;
}

.login-button,
.bucket-button,
.search-button {
  background-color: rgba(252, 252, 252, 0.3);
  height: 32px;
}

.navigation {
 display: flex;
 width: 1170px;
 margin: 0 auto;
 margin-top: 24px;
}

.navigation-item {
  list-style-type: none;

  margin-right: 32px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-list {
  display: flex;
  align-items: center;
  width: 550px;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.navigation-list-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 550px;
  margin: 0;
  padding: 0;
}
 .navigation-user-item {
  list-style-type: none;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.navigation-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  text-transform: none;
}

.header-phone {
  display: block;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  text-transform: none;
  margin-right: 18px;
}

.main-slider-header {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.inner-catalog-item {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.filters-form {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d3440;
  text-decoration: none;
}

.popular-header,
.features-header,
.delivery-header,
.donates-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.main-slider-item {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.donates {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.donates-header {
  margin: 0 auto 56px auto;
  margin-bottom: 56px;
  width: 440px;
  text-align: center;
}

.donates-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1170px;
  justify-content: space-between;
}

.donates-item {
  margin: 0;
  padding: 0;
  width: 570px;
  list-style-type: none;

}

.donates-title {
  margin: 40px auto 16px 40px;
  font-size: 24px;
  Line height: 30px;
  font-style: bold;
}

.donates-description {
  width: 320px;
  margin: 0 auto 32px 40px;
}

.donates-item-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #ff7799;
  border-radius:16px;

  width: 100%;
}

.donates-button {
  margin: 0 auto 40px 40px;
  width: 184px;
  height: 52px;
  border: 4px solid #FEAFC3;

}
.donates-button-text {
  font-family: "Inter";
  line-height: 20px;
  font-style: bold;;
}
.donates-raspberry {


  background-image: url("../Image/Backgrounds/raspberry-donates.png");
  background-repeat: no-repeat;
  background-position: bottom 0px right 15px;
}

.donates-marshmellow {

  background-image: url("../Image/Backgrounds/marshmellow-donate.png");
  background-repeat: no-repeat;
  background-position: bottom 0px right 7px;
}

.news {
display: flex;
flex-direction: column;
  background-image: url("../Image/Backgrounds/news.png");
  background-repeat: no-repeat;
  width: 570px;
}

.news-header {
margin: 32px auto 12px 32px;
color: #565C66;
font-size: 16px;
font-weight: 400;
}

.news-title {
  margin: 0 auto 62px 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
  width: 303px;
}

.news-subscribe-container {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  margin-bottom: 80px;
}


.main-slider-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}


.popular {
margin-bottom: 80px;
}

.popular-header {
  width: 530px;
  margin: 0 auto 80px auto;
  text-align: center;

}
.popular-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0;
  padding: 0;
}

.popular-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcfcfc;
  border-radius: 16px;
  width: 270px;
  margin: 0;
  list-style-type: none;
}

.product-photo {
  margin-top:-51px;
  margin-bottom: 16px;
}

.popular-item-header {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
}

.popular-description {
  width: 190px;
  color: #565C66;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  text-align: center;
margin-bottom: 20px;
}

.popular-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: start;
  margin-left: 40px;
  margin-bottom: 28px;
}

.slider-submit-button {
  color: #2D3440;
  background-color: #FCFCFC;
  width: 194px;
  height: 52px;
  border: 4px solid black;
}

.popular-item,
.catalog-item {
  background-color: #fcfcfc;
}

.features {
  display: flex;
  min-height: 480px;
  background-image: url("../Image/Backgrounds/vaffle-background.png");
  background-repeat: no-repeat;
  width: 1170px;
  margin-bottom: 80px;
}

.features-header {
  text-align: center;
}
.features-list {
  margin: 0;
}

.features-item {
  list-style-type: none;
  color: #565C66;
}

.features-container {
  background-color: #fcfcfc;
  margin: 24px;
  border-radius: 16px;
}

.subscribe {
  display: flex;
  background-image: url("../Image/Backgrounds/Post.png");
  background-repeat: no-repeat;
  width: 570px;
  min-height: 220px;
}

.subscribe-description {
  margin: 26px 26px 42px 26px;
  color: #565C66;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  margin: 6px;
  border-radius: 16px;
}

.subscribe-form {
margin: 0 auto 26px 26px;
}

.subscribe-input {
  width: 332px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #B9B9B9;
  color: red;
}

.subscribe-button {
  margin-left: 20px;
  color: #FCFCFC;
  height: 52px;
  width: 160px;
  background-color: #FF2F64;
  border: 4px solid #FEAFC3;
}

.delivery-form-date,
.delivery-form-phone,
.delivery-form-address {
font-weight: 700;
}

.delivery {
  display: flex;
  background-image: url("../Image/Backgrounds/delivery.png");
  background-repeat: no-repeat;
  margin-bottom: 80px;
  min-height: 534px;
}

.delivery-description-container {
  display: flex;
  flex-direction: column;
  margin-top: 167px;
  margin-left: 100px;
  width: 395px;
}

.delivery-form-description {
  color: #565C66;
}

.delivery-description {
  color: #565C66;
}

.delivery-header {
  margin: 0;
  margin-bottom: 24px;

}

.delivery-submit-button {
  color: #FCFCFC;
  height: 52px;
  width: 160px;
  background-color: #FF2F64;
  border: 4px solid #FEAFC3;
}

.delivery-form-container {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  border-radius: 8px;
  width: 500px;
  margin: 64px 64px 64px auto;
}

.delivery-form-description {
  width: 380px;
  margin: 40px auto 32px 40px;
}

.contacts {
  display: flex;
  min-height: 492px;
  background-image: url("../Image/Backgrounds/contacts.png");
  background-repeat: no-repeat;
  margin-bottom: 48px;
}

.contacts-container {
 background-color: #FCFCFC;
 border-radius: 8px;
 margin: 64px auto 64px 64px;
 width: 343px;
}

.contacts-adress-item {
  color: #565C66;
  width: 180px;
  margin: 40px auto 12px 40px;
}

 .contacts-address {
   width: 265px;
   margin: 0 auto 24px 40px;
 }

.contacts-phone-item {
  color: #565C66;
  margin: 0 auto 12px 40px;
}

.contacts-phone-worktime {
  margin: 0 auto 28px 40px;
  color: #565C66;
}

.contacts-button {
  color: #FCFCFC;
  height: 52px;
  width: 258px;
  background-color: #FF2F64;
  border: 4px solid #FEAFC3;
  margin: 0 auto 36px 40px;
}

.contacts-phone {
  margin: 0 auto 0 40px;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-address {
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.pagination-link {
  line-height: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  text-transform: none;
}

.info-item-link {
  font-style: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.info-item-link-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.copyright-text,
.copyright-text a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #2d3440;
}

.footer {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;

}
.footer-social-list {
  display: flex;
}
.footer-features {

}
.info-list {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
}
.info-item {
  width: 182px;
}
.copyright {
  display: flex;
  flex-direction: column;

}
