@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1366px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
  background-color: #feafc3;
}

.wrapper {
  margin: 0 auto;
  width: 1170px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  margin-top: 5px;
}

.button {
  position: relative;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 22px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-red {
  background-color: #ff2f64;
  color: #fcfcfc;
  box-shadow: 0 0 0 1px #ff2f64;
}

.button-red::before {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 100%;
  height: 100%;
  content: "";
  border: 4px solid #ff2f644d;
  border-radius: 26px;
  box-shadow: 0 4px 12px 0 #2d34401a;
  transform: translate(50%, 50%);
}

.button-red:hover {
  background-color: #fcfcfc4d;
  color: #2d3440;
}

.button-red:hover::before {
  border-color: #ff2f64;
}

.button-red:focus::before,
.button-red:active::before {
  border: 2px solid #2d3440;
}

.button-red:disabled {
  font-weight: 400;
  color: #565c66;
  background-color: #b9b9b9;
}

.button-red:disabled::before {
  border-color: #b9b9b94d;
}

.button-white {
  color: #2d3440;
  background-color: #fcfcfc;
}

.button-white::before {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
  border: 4px solid #fcfcfc66;
  border-radius: 26px;
  box-shadow: 0 4px 12px 0 #2d34401a;
  content: "";
}

.button-white:hover {
  background-color: #fcfcfc66;
  color: #2d3440;
}

.button-white:hover::before {
  border-color: #fcfcfc;
}

.button-white:focus::before,
.button-white:active::before {
  border: 2px solid #2d3440;
}

.button-white:disabled {
  font-weight: 400;
  color: #565c66;
  background-color: #e7e7e7;
}

.button-white:disabled::before {
  border-color: #b9b9b94d;
}

.filter-button {
  align-self: flex-end;
  padding: 8px 53px;
  margin-bottom: 14px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  background-color: #fcfcfc4d;
  border-radius: 20px;
  outline: none;
  border: 2px solid #fcfcfc;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #fcfcfc;
  border-color: #fcfcfc4d;
}

.filter-button:focus,
.filter-button:active {
  background-color: #fcfcfc4d;
  border-color: #2d3440;
}

.filter-button:disabled {
  background-color: #fcfcfc4d;
  border-color: #fcfcfc;
}

.popover-full-bucket {
  display: none;
}

.popover-full-bucket:hover {
  display: block;
}

.navigation-catalog-bucket-link:hover + .popover-full-bucket {
  display: block;
}

.navigation-user-item:focus-within .popover-full-bucket {
  display: block;
}

.popover-bucket-container {
  transform: translate(-323px, 8px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 48px;
  min-width: 441px;
  position: absolute;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 #2d34401f;
}

.popover-bucket-container::before {
  position: absolute;
  top: -8px;
  right: 0;
  height: 8px;
  width: 100px;
  content: "";
}

.popover-bucket-full-header {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.popover-bucket-list {
  padding: 0;
  list-style-type: none;
}

.popover-bucket-item {
  display: grid;
  grid-template-columns: 46px 1fr 1fr 30px;
  margin-bottom: 24px;
}

.popover-bucket-item:last-child {
  padding-bottom: 32px;
  margin-bottom: 0;
  border-bottom: 1px solid #e7e7e7;
}

.popover-bucket-photo {
  grid-column: 1/2;
  grid-row: 1/3;
  display: block;
}

.popover-product-name {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  margin-left: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.popover-product-description {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 3px 0 0 16px;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.popover-product-price {
  grid-column: 3/4;
  grid-row: 1/3;
  align-self: center;
  margin: 0;
  margin-left: 46px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.popover-product-delete {
  position: absolute;
  right: 40px;
  grid-row: 1/3;
  align-self: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bucket-delete-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.popover-bucket-total {
  align-self: center;
  margin-right: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.popover-bucket-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.popover-bucket-button-container .button {
  margin-right: 10px;
}

.navigation-link {
  display: block;
  padding: 6px 14px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  border-radius: 26px;
  border: 2px solid transparent;
  outline: 0;
}

.navigation-link:hover {
  background-color: #fcfcfc80;
}

.navigation-link:focus {
  background-color: #fcfcfc80;
  border-color: #2d3440;
  color: #2d3440;
}

.navigation-link:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.active-link {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.active-link:hover {
  color: #2d3440;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 19px;
}

.navigation-item {
  margin-left: 2px;
}

.navigation-item:first-child {
  margin-left: 0;
}

.navigation-item:nth-child(2) {
  margin-left: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 630px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list-user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 500px;
}

.catalog-menu-container {
  position: absolute;
  transform: translateY(8px);
  z-index: 1;
  display: none;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 #2d34401f;
}

.catalog-menu-container::before {
  transform: translateY(-10px);
  position: absolute;
  height: 10px;
  width: 140px;
  content: "";
}

.navigation-item:focus-within .catalog-menu-container {
  display: block;
}

.navigation-catalog-link:hover + .catalog-menu-container {
  display: block;
}

.catalog-menu-container:hover {
  display: block;
}

.catalog-menu-list {
  position: relative;
  min-width: 138px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  margin: 0;
  list-style-type: none;
}

.catalog-menu-item {
  padding: 0;
  margin: 0;
}

.catalog-menu-item:first-child {
  padding-bottom: 13px;
  font-weight: 700;
}

.catalog-menu-item:first-child::after {
  position: absolute;
  transform: translateY(5px);
  overflow: auto;
  margin-left: 16px;
  width: 108px;
  height: 1px;
  background-color: #b9b9b9;
  content: "";
}

.catalog-menu-link {
  display: block;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
}

.catalog-menu-link:hover {
  background-color: #ffcbd8;
}

.catalog-menu-link:focus,
.catalog-menu-link:active {
  background-color: #ff7799;
}

.catalog-menu-active-link {
  color: #fcfcfc;
  background-color: #ff4a78;
}

.navigation-user-item {
  position: relative;
  margin-left: 16px;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  display: flex;
  flex-direction: column;
}

.header-phone {
  display: block;
  margin-right: 2px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  text-transform: none;
}

.navigation-user-link {
  position: relative;
  display: block;
  padding: 4px 14px 4px 40px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  background-color: #fcfcfc4d;
  outline: none;
  border-radius: 26px;
  border: 2px solid transparent;
}

.navigation-user-link:hover {
  background-color: #fcfcfc80;
}

.navigation-user-link:focus {
  border-color: #2d3440;
}

.navigation-user-link:active {
  background-color: #fcfcfc;
  border-color: transparent;
}

.navigation-search-icon {
  position: absolute;
  left: 6px;
  top: 6px;
}

.navigation-search-link {
  padding: 14px;
}

.navigation-search-link:hover + .popover-search {
  display: block;
}

.navigation-user-item:focus-within .popover-search {
  display: block;
}

.popover-search {
  position: absolute;
  transform: translate(-322px, 8px);
  z-index: 1;
  display: none;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 #2d34401f;
}

.popover-search:hover {
  display: block;
}

.popover-search .search-field {
  margin: 24px 16px;
  min-width: 322px;
}

.popover-search::before {
  position: absolute;
  top: -8px;
  right: 0;
  height: 8px;
  width: 80px;
  content: "";
}

.search-close {
  position: absolute;
  right: 16px;
  top: 24px;
  width: 46px;
  height: 46px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-close-icon {
  position: absolute;
  right: 14px;
  bottom: 17px;
  fill: none;
}

.search-field:hover + .search-close .search-close-icon,
.search-field:focus + .search-close .search-close-icon {
  fill: #b9b9b9;
}

.search-close:hover .search-close-icon,
.search-close:focus .search-close-icon {
  fill: #2d3440;
}

.navigation-login-link:hover + .popover-login {
  display: block;
}

.popover-login {
  display: none;
}

.popover-login:hover {
  display: block;
}

.navigation-user-item:focus-within .popover-login {
  display: block;
}

.popover-login-container {
  position: absolute;
  z-index: 2;
  transform: translate(-328px, 8px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 420px;
  padding: 48px 48px 52px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 #2d34401f;
}

.popover-login-container::before {
  position: absolute;
  top: -8px;
  right: 0;
  height: 8px;
  width: 100px;
  content: "";
}

.login-form .field:first-of-type {
  box-sizing: border-box;
  margin-bottom: 18px;
  width: 100%;
}

.login-form .field:nth-of-type(2) {
  box-sizing: border-box;
  margin-bottom: 53px;
  width: 100%;
}

.login-form a {
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #2d3440;
}

.button-login-container {
  display: flex;
}

.login-forgot {
  padding-top: 2px;
}

.forgot-register-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 24px;
}

.popover-login-header {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
}

.navigation-bucket-link:hover + .popover-bucket {
  display: block;
}

.navigation-user-item:focus-within .popover-bucket {
  display: block;
}

.popover-bucket {
  position: absolute;
  transform: translate(-188px, 8px);
  z-index: 1;
  display: none;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 48px;
  box-shadow: 0 8px 16px 0 #2d34401f;
}

.popover-bucket::before {
  position: absolute;
  top: -8px;
  right: 0;
  height: 8px;
  width: 100px;
  content: "";
}

.popover-bucket:hover {
  display: block;
}

.popover-bucket-header {
  min-width: 190px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.navigation-login-icon {
  position: absolute;
  left: 16px;
  bottom: 6px;
}

.navigation-bucket-icon {
  position: absolute;
  left: 16px;
  bottom: 6px;
}

.slider-container {
  position: relative;
  display: none;
  grid-template-columns: 561px 1fr;
  min-height: 554px;
  margin-bottom: 80px;
}

.slider-description-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 136px 20px 12px 70px;
}

.slider-description-container .button {
  margin-bottom: 16px;
}

.main-slider-header {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.main-slider-item {
  position: relative;
  margin: 0;
  margin-bottom: 47px;
  font-size: 18px;
  line-height: 24px;
}

.slider-main {
  position: relative;
  align-self: center;
  justify-self: start;
  width: 312px;
  height: 312px;
  background-color: #fcfcfc4d;
  border-radius: 50%;
}

.slider-product-photo {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
}

.slider-small {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #fcfcfc4d;
  border-radius: 50%;
  opacity: 40%;
}

.slider-small:nth-of-type(3) {
  right: 140px;
}

.slider-product-photo-small {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.slider-button {
  position: absolute;
  z-index: 1;
  bottom: 50%;
  height: 38px;
  width: 38px;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcfcfc4d;
  border-radius: 50%;
  outline: 0;
  border: 2px solid #fcfcfc;
}

.slider-button:hover {
  background-color: #fcfcfc;
}

.slider-icon {
  fill: #fcfcfc;
}

.slider-button:hover .slider-icon {
  fill: #2d3440;
}

.slider-button:focus,
.slider-button:active {
  background-color: #fcfcfc4d;
  border-color: #2d3440;
}

.slider-button:focus .slider-icon,
.slider-button:active .slider-icon {
  fill: #2d3440;
}

.slider-button:disabled {
  background-color: #fcfcfc4d;
  border: 2px solid #fcfcfc;
  cursor: default;
  opacity: 30%;
}

.slider-button:disabled .slider-icon {
  fill: #fcfcfc;
}

.slider-arrow-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-4px, -50%);
}

.slider-arrow-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-2px, -50%);
}

.slider-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 8px;
  background-color: #fcfcfc4d;
  outline: none;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

.slider-pagination-button:hover {
  border-color: #fcfcfc;
}

.slider-pagination-button:focus,
.slider-pagination-button:active {
  border-color: #2d3440;
}

.slider-pagination-button-current {
  background-color: #fcfcfc;
  cursor: default;
}

.slider-button-prev {
  transform: translate(-50%, 50%);
  cursor: pointer;
}

.slider-button-next {
  right: 0;
  transform: translate(50%, 50%);
  cursor: pointer;
}

.slider-social {
  position: absolute;
  right: -2px;
  bottom: -2px;
}

.slider-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-active {
  display: grid;
}

.inner-header {
  margin-top: 32px;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  list-style: none;
}

.breadcrumbs-link {
  display: block;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  right: -19px;
  top: -2px;
  content: url("../images/icons/doublebracket.svg");
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 807px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.range {
  width: 196px;
}

.range-scale-container {
  position: relative;
  display: flex;
  height: 36px;
  width: 196px;
  background-color: #fcfcfc4d;
  border-radius: 20px;
}

.range-scale {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 164px;
  height: 2px;
  background-color: #565c664d;
  border-radius: 1px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  width: 16px;
  height: 16px;
  background: #fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2d3440;
  border-color: #fcfcfc;
}

.range-toggle:focus,
.range-toggle:active {
  background-color: #2d3440;
  border-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.range-toggle:active {
  background-color: #2d3440;
  border-color: #2d3440;
  outline: none;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
}

.range-wrapper-inputs .filter-title:last-child {
  margin-left: 0;
}

.range-input {
  width: 30px;
  padding: 0;
  font: inherit;
  font-size: 14px;
  text-align: center;
  color: #2d3440;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.filter-frame {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 36px;
  padding-left: 15px;
  padding-right: 0;
  background-color: #fcfcfc4d;
  border-radius: 20px;
}

.sort {
  display: block;
  height: 36px;
  background-color: #fcfcfc4d;
  padding-left: 16px;
  padding-right: 46px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  background-position: right 16px center;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
}

.sort:hover {
  background-color: #fcfcfc80;
}

.sort:focus,
.sort:active {
  background-color: #fcfcfc5d;
  outline: 2px solid #fcfcfc;
}

.filter-title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px;
}

.filter-category {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.control {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 16px;
}

.control-input[type="radio"] + .control-mark {
  position: absolute;
  bottom: 2px;
  left: 0;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  border: 1px solid #2d3440;
  border-radius: 50%;
  border-color: #2d3440;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:hover + .control-mark,
.control-input[type="radio"]:focus + .control-mark,
.control-input[type="radio"]:active + .control-mark {
  border-color: #fcfcfc;
}

.control-input[type="radio"]:hover:checked + .control-mark::before,
.control-input[type="radio"]:focus:checked + .control-mark::before,
.control-input[type="radio"]:active:checked + .control-mark::before {
  background-color: #fcfcfc;
}

.control-input[type="radio"]:disabled + .control-mark {
  border-color: #b9b9b9;
}

.control-input[type="radio"]:disabled:checked + .control-mark::before {
  background-color: #b9b9b9;
}

.control-input[type="checkbox"] + .control-mark {
  position: absolute;
  bottom: 2px;
  left: 1px;
  box-sizing: border-box;
  height: 16px;
  width: 16px;
  background-image: url("../images/icons/check-off.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/check-on.svg");
}

.control-input[type="checkbox"]:hover + .control-mark,
.control-input[type="checkbox"]:focus + .control-mark,
.control-input[type="checkbox"]:active + .control-mark {
  background-image: url("../images/icons/check-off-hover.svg");
}

.control-input[type="checkbox"]:hover:checked + .control-mark,
.control-input[type="checkbox"]:focus:checked + .control-mark,
.control-input[type="checkbox"]:active:checked + .control-mark {
  background-image: url("../images/icons/check-on-hover.svg");
}

.control-input[type="checkbox"]:disabled + .control-mark {
  background-image: url("../images/icons/check-disabled-off.svg");
}

.control-input[type="checkbox"]:disabled:checked + .control-mark {
  background-image: url("../images/icons/check-disabled-on.svg");
}

.popular-header,
.features-header,
.delivery-header,
.donates-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.donates {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.donates-header {
  width: 440px;
  margin: 0 auto 56px;
  margin-bottom: 56px;
  text-align: center;
}

.donates-list {
  display: grid;
  grid-template-columns: 570px 570px;
  grid-gap: 20px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.donates-item {
  margin: 0;
  padding: 0;
  width: 570px;
}

.donates-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.donates-description {
  width: 380px;
  margin: 0;
  margin-bottom: 32px;
}

.donates-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 40px;
  height: 100%;
  border-radius: 16px;
}

.donates-item-container .button {
  margin-top: auto;
}

.donates-raspberry {
  background-color: #ff7799;
  background-position: bottom 0 right 15px;
  background-image: url("../images/backgrounds/raspberry-donates.png");
  background-repeat: no-repeat;
}

.donates-marshmellow {
  background-color: #ff7799;
  background-position: bottom 0 right 7px;
  background-image: url("../images/backgrounds/marshmellow-donate.png");
  background-repeat: no-repeat;
}

.news {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 506px;
  padding: 32px;
  min-height: 156px;
  background-color: #eed5dc;
  background-image: url("../images/backgrounds/news.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news-header {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  color: #565c66;
}

.news-title {
  width: 305px;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2d3440;
  text-decoration: none;
}

.news-subscribe-container {
  display: grid;
  grid-template-columns: 570px 570px;
  grid-gap: 20px 30px;
  margin-bottom: 76px;
}

.popular {
  margin-bottom: 80px;
}

.popular-header {
  width: 530px;
  margin: 0 auto 106px auto;
  text-align: center;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 91px 30px;
  padding: 0;
  margin: 51px 0 57px;
  list-style-type: none;
}

.inner-catalog-item-header {
  margin: 0 auto 0 0;
  line-height: 46px;
  font-weight: 900;
}

.catalog-filter {
  margin-bottom: 32px;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 91px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  margin: 0;
  padding: 40px 40px 23px;
  background: #fcfcfc;
  border-radius: 8px;
}

.product-item:hover .product-photo {
  transition: transform 0.2s ease;
  transform: scale(1.02) translateY(-10px);
}

.product-photo {
  margin-top: -91px;
  margin-bottom: 11px;
  border-radius: 50%;
  box-shadow: 0 4px 12px 0 #2d34401a;
}

.product-header-link {
  color: inherit;
  text-decoration: none;
}

.product-description-link {
  text-decoration: none;
}

.product-item-header {
  margin: 0;
  margin-bottom: 9px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product-description {
  margin: 0;
  margin-bottom: 16px;
  color: #565c66;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.price-bucket-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.bucket-link {
  position: relative;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: 2px solid #ff2f64;
  background-color: #ff2f64;
  border-radius: 50%;
}

.bucket-link:hover {
  background-color: #fcfcfc4d;
}

.bucket-link:hover .bucket-icon {
  fill: #2d3440;
}

.bucket-link:focus,
.bucket-link:active {
  background-color: #ff2f64;
  border: 2px solid #2d3440;
}

.bucket-icon {
  position: absolute;
  left: 22%;
  bottom: 24%;
  display: block;
  fill: #fcfcfc;
}

.product-price {
  margin: 0;
  max-width: 150px;
  font-weight: 700;
  font-size: 20px;
  color: #2d3440;
  line-height: 24px;
}

.features {
  display: flex;
  min-height: 480px;
  margin-bottom: 80px;
  background-color: #f8e1b2;
  border-radius: 16px;
  background-image: url("../images/backgrounds/vaffle-background.png");
  background-repeat: no-repeat;
}

.features-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 56px 40px;
  width: 100%;
  margin: 24px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.features-header {
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  position: relative;
  margin-left: 64px;
  display: flex;
  color: #565c66;
}

.features-item:nth-child(1)::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/icecream.svg");
  background-repeat: no-repeat;
  content: "";
}

.features-item:nth-child(2)::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/cow.svg");
  background-repeat: no-repeat;
  content: "";
}

.features-item:nth-child(3)::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/green.svg");
  background-repeat: no-repeat;
  content: "";
}

.features-item:nth-child(4)::before {
  position: absolute;
  left: -64px;
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/temperature.svg");
  background-repeat: no-repeat;
  content: "";
}

.subscribe {
  display: flex;
  width: 570px;
  min-height: 220px;
  background-color: #ccb6d7;
  border-radius: 16px;
  background-image: url("../images/backgrounds/post.png");
  background-repeat: no-repeat;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 16px;
  color: #565c66;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 6px;
  padding: 26px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-form .field {
  margin-right: 22px;
  width: 100%;
  align-self: center;
}

.subscribe-form .button {
  align-self: center;
}

.field {
  margin: 0;
  padding: 13px 15px;
  box-sizing: border-box;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  outline: 1px solid #b9b9b9;
  border-radius: 4px;
  color: #2d3440;
  border: none;
}

.field:hover {
  outline-color: #2d3440;
}

.field:focus,
.field:active {
  outline: 2px solid #2d3440;
}

.field:disabled,
.field:disabled:hover,
.field:disabled:active {
  color: #595959;
  background-color: #e7e7e7;
  outline: 1px solid #b9b9b9;
}

.field:invalid {
  outline: 1px solid #ea5454;
  box-shadow: none;
}

.field:hover:invalid,
.field:focus:invalid,
.field:active:invalid {
  outline: 2px solid #ea5454;
}

.field::placeholder {
  color: #b9b9b9;
}

.form-label {
  margin-bottom: 7px;
  font-weight: 700;
}

.form-label-icon {
  position: relative;
}

.delivery {
  display: grid;
  grid-template-columns: 1fr 628px;
  margin-bottom: 80px;
  min-height: 534px;
  background-color: #dac9ba;
  border-radius: 16px;
  background-image: url("../images/backgrounds/delivery.png");
  background-repeat: no-repeat;
}

.delivery-description-container {
  display: flex;
  flex-direction: column;
  padding: 168px 20px 100px 100px;
  max-width: 375px;
}

.delivery-description {
  color: #565c66;
  margin: 0;
}

.delivery-header {
  margin: 0;
  margin-bottom: 23px;
}

.delivery-form-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 64px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 16px 40px 0 #2d34401f;
}

.delivery-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.delivery-input-container {
  display: grid;
  grid-template-columns: 117px 285px;
  grid-gap: 20px 16px;
}

.delivery-form-description {
  margin: 0;
  margin-bottom: 32px;
  color: #565c66;
}

.field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.delivery-container-date {
  display: flex;
}

.delivery-container-phone {
  display: flex;
}

.delivery-container-address {
  display: flex;
  grid-column: 1/3;
}

.delivery-button {
  margin: 12px auto 0;
}

.info {
  position: absolute;
  bottom: 4px;
  z-index: 1;
  transform: translateX(5px);
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: transparent;
  background-image: url("../images/icons/info.svg");
  background-size: 13px auto;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.info-tooltip {
  position: absolute;
  left: 24px;
  top: -13px;
  display: block;
  box-sizing: border-box;
  background-color: #fcfcfc;
  padding: 10px 8px;
  min-width: 170px;
  border-radius: 1px;
  border: 1px solid #b9b9b9;
  box-shadow: 0 2px 12px 0 #ad988f2e;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s opacity, 0.2s visibility;
}

.info-tooltip-item {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
}

.info-tooltip::before {
  position: absolute;
  left: -1px;
  top: 14px;
  transform: translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: #fcfcfc;
  border: 1px solid #b9b9b9;
  border-right: none;
  border-top: none;
  content: "";
}

.info:hover > .info-tooltip,
.info:focus > .info-tooltip {
  display: block;
  opacity: 1;
  visibility: visible;
}

.contacts {
  display: flex;
  min-height: 492px;
  background-color: #edc2b0;
  background-image: url("../images/backgrounds/contacts.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 64px auto 64px 64px;
  box-sizing: border-box;
  width: 343px;
  padding: 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 #2d34401f;
}

.contacts-container .button-red {
  padding: 13px 32px;
  border-radius: 23px;
}

.contacts-container .button-red::before {
  border-radius: 27px;
}

.contacts-adress-item {
  width: 180px;
  margin: 0;
  margin-bottom: 12px;
  color: #565c66;
}

.address-page {
  margin: 0;
  margin-bottom: 24px;
  width: 265px;
  font-style: normal;
}

.contacts-phone-item {
  margin: 0;
  margin-bottom: 12px;
  color: #565c66;
}

.contacts-phone {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.contacts-phone-worktime {
  margin: 0;
  margin-bottom: 30px;
  color: #565c66;
  font-size: 14px;
}

.contacts-address {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.pagination-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination-container button {
  border-color: #ffcbd8;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: right;
  align-self: center;
  margin: 0 -4px 0 16px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  position: relative;
}

.pagination-item:not(:last-child) {
  margin-right: 3px;
}

.pagination-item:first-child {
  margin-right: 12px;
}

.pagination-item:last-child {
  margin-left: 8px;
  margin-right: 0;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  padding: 0 4px;
  min-width: 24px;
  min-height: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  border-radius: 12px;
}

.arrow-left {
  position: absolute;
  left: 9px;
  bottom: 6px;
  fill: #2d3440;
}

.arrow-right {
  position: absolute;
  left: 10px;
  bottom: 6px;
  fill: #2d3440;
}

.pagination-link:hover:not(.pagination-link-current):not(.pagination-disabled) {
  background-color: #fcfcfc4d;
}

.pagination-link:focus:not(.pagination-link-current):not(.pagination-disabled) {
  outline: 1px solid #2d3440;
  outline-offset: 0;
}

.pagination-link-current {
  background-color: #fcfcfc;
}

.pagination-disabled {
  opacity: 30%;
}

.footer {
  display: grid;
  grid-template-columns: 430px 1fr 1fr;
  margin: 48px auto 48px;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: 3px;
  list-style-type: none;
}

.social-item {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 12px;
  border-radius: 50%;
  border: 2px solid #fcfcfc4d;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 26px;
  outline: none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 1px #fcfcfc;
}

.social-link:hover {
  background-color: #2d3440;
}

.social-link:focus,
.social-link:active {
  background-color: #2d3440;
  box-shadow: 0 0 0 2px #2d3440;
}

.info-list {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 6px 4px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.info-item-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.info-item-link-bold {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.info-item-link-bold::before {
  position: absolute;
  left: -22px;
  top: 0;
  content: url("../images/icons/heart.svg");
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-self: end;
  margin-right: 14px;
}

.copyright-text,
.copyright-text a {
  margin: 0;
  margin-top: 9px;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  text-decoration: none;
}

.copyright-text a {
  border-bottom: 1px solid #2d3440;
}

.modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-close-button {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 60px;
  height: 60px;
  padding: 0;
  background-image: url("../images/icons/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.modal-feedback {
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 64px;
  min-width: 570px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 #2d34401f;
}

.modal-feedback-header {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
}

.modal-feedback-form {
  display: flex;
  flex-direction: column;
}

.modal-feedback-form .field:first-of-type {
  margin-bottom: 18px;
}

.modal-feedback-form .field:nth-of-type(2) {
  margin-bottom: 18px;
}

.modal-feedback-form .field {
  margin-bottom: 36px;
  resize: none;
}

.modal-feedback-form .button {
  align-self: flex-end;
}

.modal-open {
  display: block;
}
